.navbar {
    background-color: #000;
  }

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .navbar-brand img {
    max-height: 40px;
    margin-right: 10px;
  }

  .navbar-link {
    font-size: 18px;
    color: #fff;
  }
  .navbar-nav .nav-link:hover {
    color: white !important;
  }
  .navbar-brand:hover,
    .navbar-brand:hover img {
      color: white !important;
      filter: brightness(100%);
    }
  .footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  .card-header {
    background-color: black;
    color: white;
    font-size: 24px;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }